<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Skeddit", events_path, class: "navbar-brand" %>
    </div>
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
		<li style="padding-top:5px;padding-right:5px;"><input type="checkbox" checked data-toggle="toggle" data-on="12hr" data-off="24hr" data-onstyle="primary" data-offstyle="primary"></li>
        <li>
		  <% if user_signed_in? %>
			  <li class="dropdown">
				<a href="events" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				  <li><p>Logged in as: <%= current_user.email %></p></li>
				  <li class="divider"></li>
				  <li><%= link_to('Edit registration', edit_user_registration_path) %></li>

				  <li class="divider"></li>
				  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
				</ul>
		  	</li>
		<% else %>
			<p class="navbar-btn">
            	<%= link_to('Login', new_user_session_path, class: "btn btn-default")  %>
        	</p>
		<% end %>
      </li>
    </ul>
  </div>
</nav>
