<body>
	<div class="container">
		<h2>Your Events</h2>
		<%= link_to "Add Event", { controller: "events", action: "new"}, class: "btn btn-success btn-lg btn-block" %>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event, i| %>
					<tr>
						<% if event.user == current_user %>
							<td><%= event.name %></td>
							<td><%= event.date %></td>
							<td><%= link_to "Results", { controller: "events", action: "show", id: event}, class: "btn btn-primary btn-sm" %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br>
		<h2>Others' Events</h2>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Event</th>
					<th>Admin</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event, i| %>
					<tr>
						<% if event.user != current_user %>
							<td><%= event.name %></td>
							<td><%= event.user.email %></td>
							<td><%= event.date %></td>
							<td><%= link_to "Results", { controller: "events", action: "show", id: event}, class: "btn btn-primary btn-sm" %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</body>
