<h2>Your Events</h2>
<%= link_to "Add Event", new_event_path, class: "btn btn-success btn-lg btn-block" %>
<% if !@admin_events.empty? %>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<th width="60%">Event</th>
			<th width="20%">Date</th>
			<th width="20%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @admin_events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= event.date.strftime("%a, %B %d, %Y") %></td>
			<td><%= link_to "Results", event_path(event), class: "btn btn-primary btn-sm" %>
				<%= link_to "Edit", edit_event_path(event), class: "btn btn-warning btn-sm" %>
				<%= link_to "Destroy", event_path(event), method: :delete, class: "btn btn-danger btn-sm", :confirm => "Delete this event?" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% elsif current_user == nil%>
<div class="panel panel-default">
	<div class="panel-body text-center">
		Log in to see your events.
	</div>
</div>
<% else %>
<div class="panel panel-default text-center">
	<div class="panel-body">
		Looks like you have no events. Why don't you create one?
	</div>
</div>
<% end %>
<br>
<h2>Others' Events</h2>
<% if @other_events.any? %>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<th width="30%">Event</th>
			<th width="30%">Owner</th>
			<th width="20%">Date</th>
			<th width="20%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @other_events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= event.owner.email %></td>
			<td><%= event.date.strftime("%a, %B %d, %Y") %></td>
			<% if(current_user == nil  || !event.participants.include?(current_user)) %>
			<td><%= link_to "Join", new_availability_path(:event_id => event.id), class: "btn btn-primary btn-sm" %></td>
		<% else %>
		<td><%= link_to "Edit", edit_availability_path(event.availabilities.find_by(:user_id => current_user.id)), class: "btn btn-warning btn-sm" %>
		<%= link_to "Leave", availability_path(event.availabilities.find_by(:user_id => current_user.id)), method: :delete, class: "btn btn-danger btn-sm", :confirm => "Delete this event?" %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<div class="panel panel-default">
	<div class="panel-body text-center">
		Looks like there aren't events. Tell your friends to make some.
	</div>
</div>
<% end %>
