<h1> Create New Event </h1>

<% if @event.errors.any? %>
	<div id="error_explanation" class="alert alert-dismissible alert-danger">
	<h3><%= pluralize(@event.errors.count, "error") %> prevented this event from being created:</h3>

		<ul>
		<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<%end %>
		</ul>
	</div>
<% end %>

<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 8 %>

	<label class="control-label string optional" for="times_allowed">Times Allowed</label>
  <div class="panel panel-default">
    <% if @hour_format == 24 %>
      <%= f.collection_check_boxes :times_allowed, @possible_times, :to_datetime, :hour_24,
        {:item_wrapper_class => 'checkbox_container'} %>
    <% else %>
	    <%= f.collection_check_boxes :times_allowed, @possible_times, :to_datetime, :hour_12,
	  	  {:item_wrapper_class => 'checkbox_container'} %>
    <% end %>
  </div>

  <%= f.hidden_field :user_id %>

  <%= f.button :submit %>
<% end %>
