<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		Owner:
		<%= @event.owner.email %>
	</p>
	<br>
	<h3>Availabilities</h3>
	<table class="table table-striped">
		<thead>
			<th style="width:20%;">Times</th>
			<th style="width:80%;">Participants</th>
		</thead>
		<tbody>
			<% @times_allowed.each do |time| %>
				<tr>
					<td><%= @hour_format == 24 ? time.hour_24 : time.hour_12 %></td>
					<td>
						<%= @event.owner.email %><br>
						<% available_participants(@participants,@event,time).each do |participant| %>
							<%= participant.email %><br>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
