<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		Owner:
		<%= @event.owner.email %>
	</p>
	<br>
	<h3>Availabilities</h3>
	<table class="table table-striped">
		<thead>
			<th><%= @event.owner.email %></th>
			<% @event.times_allowed.each do |time| %>
				<% if(@event.times_allowed.include?(time)) %>
					<th class="success"><%= EventsHelper.hour_12(time) %></tb>
				<%else%>
					<th class="danger"><%= EventsHelper.hour_12(time) %></tb>
				<%end%>
			<% end %>
		</thead>
	</table>
</div>
